/* Basic styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background for non-logo containers */
    color: #fff; /* White text for contrast */
}

/* Font Face */
@font-face {
    font-family: 'Autumn Flowers';
    src: url('fonts/AutumnFlowers.ttf') format('truetype');
}

/* Event Title */
.event-title {
    font-size: 62px;
    color: #FFD700; /* Gold color for the text */
    font-family: 'Great Vibes', cursive; /* Elegant script font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for depth */
    margin-top: 10px; /* Space above the text */
}

/* Background image and title section */
.background-image {
    background-image: url('images/logo.png'); /* Ensures the logo background for the two containers */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.title-section {
    color: #ffffff;
}

.title {
    font-size: 42px;
    color: #FFD700; /* Metallic gold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for title */
    margin-bottom: 10px;
}

/* Logo Section */
.logo-section {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7); /* Background color for the header section */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; /* Add space below the header if needed */
    
    /* Multicolored border using gradients */
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1; /* Red, Gold, Green gradient */
}

.MAVJDigitalLogo {
    width: 350px;
    height: auto;
    margin-top: 10px;
}

/* Presents Section */
.presents {
    color: #FFD700;
    font-size: 32px;
    margin: 10px 0;
}

/* Buy Now Button */
.buy-now-btn {
    background-color: #FFD700; /* Metallic gold */
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

/* Main container for the inner boxes */
.main-container {
    display: flex;
    justify-content: center; /* Centers the inner boxes */
    flex-wrap: wrap; /* Allows boxes to wrap to the next line if needed */
    gap: 20px; /* Adds spacing between the boxes */
}

/* Content Boxes Positioned Over the Background Logo */
.content-box {
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background for the content boxes */
    color: white;
    padding: 20px;
    border-radius: 10px; 
    width: 250px; /* Adjust box size */
    text-align: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3); /* Add some shadow for depth */
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000) 1; /* Red, Gold, Green gradient */
}

.inner-content-box {
    color: #50C878; /* Emerald green color */
    font-family: 'Arial', sans-serif; /* Ensure readability with a simple font */
}

.content-box h2 {
    margin-bottom: 10px;
}

.content-box p {
    font-size: 16px;
}

/* Navigation styles */
nav {
    background-color: rgba(0, 0, 0, 0.7);
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000,blue, indigo, violet) 1; /* Red, Gold, Green gradient */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #444;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content */
main {
    padding: 20px;
    background-color: #333;
}

main h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

main p {
    color: #f4f4f4;
    font-size: 18px;
    line-height: 1.6;
}

/* Container for Three Content Boxes */
#three-content-boxes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    background-image: url('https://raw.githubusercontent.com/MyAlkalineVeganJourney/HF/main/Images/MAVJDigitalLogo.JPG');
    background-size: cover;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
    border-radius: 10px;
}

.three-content-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.three-content-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Container for Six Inner Content Boxes */
#six-inner-content-boxes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    background-image: url('https://raw.githubusercontent.com/MyAlkalineVeganJourney/HF/main/Images/MAVJDigitalLogo.JPG');
    background-size: cover;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
    border-radius: 10px;
}

.inner-content-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    min-width: 200px;
    background-color: #f0f0f0;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.inner-content-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

    
/* Video and photo gallery styles */
.video-container, .gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
}

video, .gallery img {
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* This makes the image cover the box without stretching */
    border-radius: 10px; /* Keep the rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
}
/* Base styles for all main containers */
.main-container {
    width: 100%;
    padding: 20px;
    border: 8px solid;
    border-image: linear-gradient(to right, #FF0000, #FFD700, #008000, blue, indigo, violet) 1;
    margin-bottom: 20px; /* Ensure containers don't overlap */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Container */
#header-container {
    background-image: url('https://raw.githubusercontent.com/MyAlkalineVeganJourney/HF/main/Images/MAVJDigitalLogo.JPG');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 0;
}

/* Individual Content Box Styles */
.inner-box {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Accommodations Container */
#accommodations-container {
    background-color: #f8f9fa; /* Light background */
}

/* Transportation Container */
#transportation-container {
    background-color: #e9ecef; /* Light grey background */
}

/* Event Pricing Container */
#event-pricing-container {
    background-color: #f1f3f5; /* Slightly darker grey */
}

/* Sponsorship Container */
#sponsorship-container {
    background-color: #dee2e6; /* Slightly darker grey */
}

/* Shopping Cart Container */
#shopping-cart-container {
    background-color: #ced4da; /* Slightly darker grey */
}

/* Communal Residency Container */
#communal-residency-container {
    background-color: #adb5bd; /* Slightly darker grey */
}
/* Container for the three boxes */
.left-boxes-container {
    display: flex;
    flex-direction: column; /* Aligns the boxes vertically */
    justify-content: space-between; /* Ensures equal spacing between the boxes */
    position: absolute;
    left: 0; /* Aligns the boxes to the far left of the title section */
    top: 50%; /* Vertically centers the box container */
    transform: translateY(-50%); /* Adjusts for perfect vertical centering */
}

/* Style for each box */
.box {
    width: 200px; /* Set the width for each box */
    border: 3px solid; /* Multicolored border for each box */
    border-image: linear-gradient(to right, red, yellow, green, blue) 1;
    padding: 10px;
    margin-bottom: 20px; /* Space between boxes */
    text-align: center; /* Center-align the text inside the box */
}

.box-image {
    width: 100%; /* Makes the image fit the box perfectly */
    height: auto;
}

.box h2 {
    font-size: 18px; /* Adjust text size inside the box */
    color: black;
}

/* Hover Effect */
.box:hover {
    transform: scale(1.05); /* Enlarges the box slightly on hover */
    transition: transform 0.3s ease;
}

/* Title Section (remains unchanged, just ensuring the positioning remains proper) */
.title-section {
    position: relative;
    border: 5px solid;
    border-image: linear-gradient(to right, red, yellow, green, blue) 1;
    padding: 20px;
    text-align: center;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
}

.MAVJDigitalLogo {
    width: 150px;
    height: auto;
}
